.card {
  margin: 2rem;
  box-shadow: 3px 3px 10px #e2e2e2;
  padding: 1rem;
}

.card-s {
  width: 200px;
  min-height: 250px;
  max-height: 300px;
  padding: 0.7rem;
}

.card-m {
  width: 300px;
  max-height: 450px;
  min-height: 380px;
}

.card-l {
  width: 500px;
  max-height: 650px;
  min-height: 550px;
}

.image {
  display: flex;
  overflow: hidden;
}

.image img {
  width: 100%;
  align-self: center;
}

.image-s {
  height: 130px;
}

.image-m {
  height: 200px;
}

.image-l {
  height: 400px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.top-s {
  flex-direction: column;
}

.top-l {
  margin-bottom: 0.5rem;
}

.user {
  color: #3e498a;
  font-weight: bold;
}

.user-s {
  font-size: 0.8rem;
}

.user-l {
  font-size: 1.2rem;
}

.time {
  color: #666;
  font-size: 0.8rem;
}

.likes {
  text-align: left;
  color: #3e498a;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.likes-s {
  font-size: 0.8rem;
}

.likes-m {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.likes-l {
  margin-top: 0.5rem;
}

.likes > * {
  padding-right: 0.2rem;
}

span.hearth {
  color: #e61d1d;
  font-size: 1.5rem;
}

.desc {
  text-align: left;
  color: #333;
  padding-top: 0.5rem;
}

.desc-s {
  font-size: 0.8rem;
  padding-top: 0.2rem;
}

.tags {
  color: #3e498a;
  margin: 5px 0;
  font-size: 0.8rem;
}
